<div id="chat-page" class="">

    <div class="chat-container">
        <div class="chat-header2">
            <p>{{currentUser.firstName}} {{currentUser.lastName}} Logged in <b></b> <b></b> <b></b> <button
                    (click)="_disconnect()" type="submit" class="primary">Logout</button>
            </p>
            <router-outlet></router-outlet>
        </div>
        <div class="chat-header">
            <h2>Lets start chatting!</h2>
        </div>
        <div class="connecting">
            Connecting...
        </div>
        <ul id="messageArea">

        </ul>
        <form id="messageForm" name="messageForm" nameForm="messageForm">
            <div class="form-group">
                <div class="input-group clearfix">
                    <input type="text" #message placeholder="Type a message..." autocomplete="off"
                        class="form-control" />
                    <button (click)="_send(message.value)" type="submit" class="primary">Send</button>
                </div>
            </div>
        </form>

    </div>

</div>